html, body{
	font-size: calc(14px + 0.5vw);	
	overflow-x: hidden !important;
	position: relative;
}

#mainContainer {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4rem auto;
	height: 100%;
	grid-gap: 4rem;
}

header {
	display: flex;
	/* height: 100%; */
	height: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center; 
	margin-top: 10px;
}

.title {
	/* height: 100%; */
	height: auto;
	display:flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

span{
	/* height: 2rem; */
	font-size: 2rem;
	font-weight: bold;
}

.titleBudgie {
	height: 3rem;
	text-align: center;
	margin-left: 10px;
}

.titleBudgie.left {
	-webkit-transform: scaleX(-1);
 	transform: scaleX(-1);
 	margin-right: 10px;
 	margin-left: 0;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

main .controls {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 61.8%;
	height: 100%;
	max-width: 400px;
}

#btnToggleAudioPlayer {
	width: 13rem;
	height: 13rem;
	border-radius: 999px;
	background-color: #4dff00;
	font-size: 2.5rem;
	color: white;
	border: none;
	opacity: 0.85;
}

#btnToggleAudioPlayer:hover {
	cursor: pointer;
	opacity: 1;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.75;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #4dff00;
  cursor: pointer;
  border-radius: 999px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4dff00;
  cursor: pointer;
}

::-moz-selection {
    background-color: transparent;
    color: #000;
}

::selection {
    background-color: transparent;
    color: #000;
}